<!doctype html>

<html lang="en">
  <%- include('./partials/head.ejs', { title: "Shop" }) %> 

<body>
  <!-- your content here... -->
  
<a href="/userDetail/<%= id %> " text-align: left>Profile</a>
<a href="/logout" text-align: right>Logout</a>
  <table border="2">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Stock</th>
        <th>Buy</th>

    </thead>
    <tbody>
        <% result.forEach((el) =>{%>
            <tr class="item-list">
                    <td><%= el.name %></td>
                    <td><%= el.price %> </td>
                    <td><%= el.stock %> </td>
                    <td><form action="/buy/<%= id %>/<%= el.id %> " method="get">
                        <input type="number" name="quantity">
                        <input type="submit" value="Buy">
                    </form></td>
                
            </tr>
        <% }) %> 

    </tbody>
</table>
  <script type="text/javascript" src="js/setup.js"></script>
</body>
</html>